body {
  background-color: #f2f3f1;
  font: 16px Consolas, "Lucida Console", Monaco, monospace;
}

#display {
  background-color: #1e181b;
  box-sizing: border-box;
  color: #f4f5f3;
  display: block;
  font-size: 32px;
  height: 96px;
  line-height: 96px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-right: 16px;
  text-align: right;
  width: 100%;
}

#buttons {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: calc(100vh - 96px);
}

#buttons > input {
  border: 0;
  border-radius: 32px;
  font-size: 24px;
  font-weight: 500;
  margin: 8px;
}

#clear_button,
#zero_button {
  grid-column: 1 / span 2;
}

.delete_button {
  background-color: #ef625c;
  color: #f4f5f3;
}

.delete_button:hover {
  box-shadow: inset 0 0 16px rgba(200, 0, 0, 0.5);
}

.numeral_button {
  background-color: #edb674;
}

.numeral_button:hover {
  box-shadow: inset 0 0 16px rgb(150, 100, 0, 0.2);
}

.operator_button,
.equals_button {
  background-color: #6aa4d9;
}

.operator_button:hover,
.equals_button:hover {
  box-shadow: inset 0 0 16px rgba(0, 0, 200, 0.2);
}

@media screen and (min-width: 576px) and (-webkit-min-device-pixel-ratio: 1.5) {
  body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }

  #calculator {
    background-color: #f2f3f1;
    border-radius: 32px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 30px #fff;
    height: 670px;
    width: 500px;
  }

  #display {
    width: 380px;
    margin: 32px auto;
  }

  #buttons {
    grid-template-rows: repeat(5, 90px);
    grid-template-columns: repeat(4, 90px);
    gap: 7px;
    width: 380px;
    height: auto;
    margin: 0 auto;
  }

  #buttons > input {
    border-radius: 45px;
    margin: 0;
  }
}
